/* Text Styling */

body {
  background-color: grey;
}

h1, h3, span {
  display: inline;
}

h1 {
  text-align: center;
  display: block;
}

.score-outer {
  margin-left: 20px;
}

.timer-outer {
  right: 20px;
  position: absolute;
}

#play-again {
  margin-top: 50px;
}

/* Image Styling */

img {
    margin: 20px 0 20px 0;
    height: 300px;
    width: 200px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    img {
      height: 100px;
      width: 100px;
    }
  }
