/* Text Styling */

h1, h3, span {
  color: white;
  display: inline;
}

h1 {
  text-align: center;
  display: block;
}

.timer-outer {
  right: 20px;
  position: absolute;
}

a {
  margin-top: 50px;
}

/* Image Styling */

img {
    margin: 20px 0 20px 0;
    height: 200px;
    width: 200px;
}

@media only screen and (max-width: 600px) {
    img {
      height: 100px;
      width: 100px;
    }
  }
